h1 {
    text-align: center;
}

div {
    text-align: left;
}

#faultyItems {
    visibility: hidden;   
}

#launchForm {
    background-color: #ECF0F1;
    text-align: center;
    margin: auto;
    width: 25%;
    border: 3px solid black;
    padding: 10px;
}

#launchStatusCheck {
    background-color: #ECF0F1;
    text-align: center;
    margin: 50px auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
}

#missionConsole {
    margin: 50px auto;
    width: 50%;
    border: 3px solid black;  
}

#missionConsole .data {
  background-color: antiquewhite;  
}

#missionTarget img {
    max-width: 40%;
    max-height: 250px;
}

#missionTarget {
    background-color: #ECF0F1;
    text-align: center;
    padding: 10px;
}

#missionOptions {
    background-color: #ECF0F1;
    text-align: center;
    padding: 10px;
}

#missionOptions .active {
  background-color: chartreuse;
}

button {
    background-color: #419f6a;
    border: none;
    color: white;
    border-radius: 8px;
    width: 25%;
    height: 30px;
    margin: 10px 0;
}

.typeInvalid {
  background-color:darksalmon;
}

.dataInvalid {
  background-color:red;  
}

SPAN.missionOption {
  cursor:crosshair;
}

.orbitalImage {
  max-width: 600px;
  max-height: 400px;
}